# python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.DS_Store

# virtual environment
env/
venv/

# django
*.sqlite3
/media/
staticfiles/

# environment variables
.env

# IDEs and editors
.vscode/

# logs
*.log

.DS_Store

# other
*.bak

# front-end
# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

